<footer class="footer border-top d-flex justify-content-between pt-2">
  <small class="py-2">
    The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul class="nav ml-auto">
      <li class="nav-item"><%= link_to "About",   about_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
      <li class="nav-item"><a href="http://news.railstutorial.org/" class="nav-link">News</a></li>
    </ul>
  </nav>
</footer>
